<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="">
      <form
        action="/movie/add"
        method="POST"
        class="max-w-md mx-auto bg-amber-200 mt-14 py-6 px-3 rounded-lg"
      >
        <div class="mb-5 flex flex-col px-14">
          <label for="" class="mb-2 font-medium">Movie Name</label>
          <input
            type="text"
            name="name"
            class="bg-gray-100 rounded-lg py-2 focus:ring-gray-800 focus:border-gray-800"
          />
        </div>
        <div class="mb-5 flex flex-col px-14">
          <label
            for=""
            class="mb-2 font-medium focus:ring-gray-800 focus:border-gray-800"
            >Release Year</label
          >
          <input
            type="date"
            name="release_year"
            class="bg-gray-100 rounded-lg py-2"
          />
        </div>
        <div class="mb-5 flex flex-col px-28">
          <label for="" class="mb-2 font-medium">Genre</label>
          <select
            name="genre"
            id=""
            class="bg-gray-100 rounded-lg py-1 focus:ring-gray-800 focus:border-gray-800"
          >
            <option value="select_genre">select genre</option>
            <option value="comedy">comedy</option>
            <option value="drama">drama</option>
            <option value="horor">horor</option>
            <option value="animasi">animasi</option>
            <option value="religi">religi</option>
            <option value="fantasy">fantasy</option>
            <option value="action">action</option>
          </select>
        </div>
        <button
          type="submit"
          class="bg-blue-500 px-3 py-2 rounded-md font-medium text-white"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
