<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <form
      action="/cast/<%= cast[0].id %>/movieadd"
      method="POST"
      class="max-w-sm mx-auto mt-8"
    >
      <div class="mb-5">
        <label for="">Cast</label>
        <select
          name="movieId"
          id=""
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <% cast[1].forEach(elem => { %>
          <option value="<%= elem.id %>"><%= elem.name %></option>
          <% }) %>
        </select>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Submit
      </button>
    </form>
    <table class="border-2">
      <thead>
        <tr>
          <th>Movie</th>
        </tr>
      </thead>

      <% cast[0].Movies.forEach(elem => { %>
      <tr>
        <td><%= elem.name %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
