<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        display: flex;
      }
    </style>
  </head>
  <body>
    <%- include('partial/header.ejs') %>
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Name Production House</th>
          <th>Headquarters</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].name_prodHouse %></td>
          <td><%= data[i].headquarters %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
